header {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  font-family: "Montserrat", sans-serif; }

.logo {
  float: left;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase; }

#top-menu {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  float: right;
  margin-right: 150px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #top-menu ul {
    margin-right: 40px; }
    #top-menu ul li {
      display: inline;
      margin: 5px; }
  #top-menu a {
    font-size: 12px;
    font-weight: 700;
    line-height: 100px;
    color: #60606e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; }
    #top-menu a::before {
      content: " ";
      position: absolute;
      margin-top: 30px;
      border-top: 2px solid #60606e;
      width: 0%;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #top-menu a:hover::before {
      width: 50%; }
  #top-menu.hide-menu {
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    margin-right: 0px; }

.top-bar {
  position: relative; }

header #hamburger {
  position: absolute;
  right: 0;
  line-height: 100px; }
