#mini-slider {
  background: #fff url("../images/header-bg.jpg") no-repeat;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1; }
  #mini-slider .container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 750px; }
  #mini-slider .box {
    margin-top: 200px;
    text-align: center; }
  #mini-slider .slides {
    position: relative; }
    #mini-slider .slides > div {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto; }
  #mini-slider h1 {
    border: 10px solid #60606e;
    color: #60606e;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 40px; }
  #mini-slider span {
    background-color: #7beec7;
    color: #60606e;
    padding: 8px 12px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #60606e;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #mini-slider p {
    font-size: 16px; }

.inactive-slide {
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

.active-slide {
  opacity: 1;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

#about-me {
  margin-top: -344px;
  position: relative; }
  #about-me img {
    position: relative; }
  #about-me .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  #about-me button {
    margin-top: 35px; }

#skills .row {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center; }
  #skills .row .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: left; }
  #skills .row .header {
    padding-bottom: 40px; }
  #skills .row .skill-slider {
    position: relative;
    overflow: hidden; }
    #skills .row .skill-slider img {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      padding-top: 25px; }
    #skills .row .skill-slider a {
      font-size: 40px;
      font-weight: 100; }
    #skills .row .skill-slider #next {
      position: absolute;
      top: 50%;
      right: 25px; }
    #skills .row .skill-slider #prev {
      position: absolute;
      top: 50%;
      left: 25px; }
  #skills .row .header {
    text-align: center; }

#skills h3 {
  display: inline;
  text-align: left; }

#skills ul {
  text-align: left;
  margin-bottom: 20px; }
  #skills ul li {
    font-family: "Open Sans",sans-serif;
    color: #666666;
    line-height: 30px;
    text-transform: uppercase; }
    #skills ul li:hover {
      color: #212121; }

#skills .sprite {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("../images/sprite.png");
  vertical-align: middle; }

#skills #html5 {
  background-position: 0 0; }

#skills #css {
  background-position: 140px 0px; }

#skills #rwd {
  background-position: 120px 0px; }

#skills #bs {
  background-position: 100px 0px; }

#skills #wp {
  background-position: 80px 0px; }

#skills #js {
  background-position: 60px 0px; }

#skills #jq {
  background-position: 40px 0px; }

#skills #sass {
  background-position: 20px 0px; }

#skills #ps {
  background-position: 0 20px; }

#skills #php {
  background-position: 140px 20px; }

#skills #mysql {
  background-position: 120px 20px; }

#skills #ajax {
  background-position: 100px 20px; }

#skills #gulp {
  background-position: 80px 20px; }

#skills #git {
  background-position: 60px 20px; }

#skills #linux {
  background-position: 40px 20px; }

#skills #ng {
  background-position: 20px 20px; }

#portfolio .row {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center; }
  #portfolio .row .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 30px 0px;
    text-align: center; }
    #portfolio .row .box.entry {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%; }

#portfolio .project {
  overflow: hidden; }
  #portfolio .project .box:nth-child(1) {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%; }
  #portfolio .project li {
    text-align: left;
    padding: 10px 15px; }
  #portfolio .project .project-list a {
    margin-left: 10px;
    padding: 5px 20px;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    #portfolio .project .project-list a:hover {
      margin-left: 0;
      padding: 5px 20px;
      background: #7beec7;
      color: #fff; }

#portfolio .screens {
  position: relative; }
  #portfolio .screens .project-content {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    #portfolio .screens .project-content::after {
      position: absolute;
      content: " ";
      width: 0%;
      height: 0%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #portfolio .screens .project-content h3 {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      color: #fff;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      z-index: 1; }
    #portfolio .screens .project-content p {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      color: #fff;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      z-index: 1; }
    #portfolio .screens .project-content img {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      border: 1px solid #ebebeb;
      width: 100%;
      height: auto;
      -webkit-filter: brightness(100%);
      filter: brightness(100%);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #portfolio .screens .project-content:hover h3 {
      opacity: 1;
      visibility: visible; }
    #portfolio .screens .project-content:hover p {
      opacity: 1;
      visibility: visible; }
    #portfolio .screens .project-content:hover img {
      -webkit-filter: brightness(30%);
      filter: brightness(30%); }
  #portfolio .screens .active-tab {
    opacity: 1;
    visibility: visible;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }

#contact {
  background: #7beec7;
  border-bottom: 2px solid #ebebeb; }
  #contact .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; }
    #contact .row .box {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
  #contact h1, #contact h3, #contact p, #contact a {
    color: #fff; }
  #contact a {
    display: block;
    line-height: 2;
    font-weight: 700; }
  #contact p {
    font-weight: bold; }
  #contact .alert-hidden {
    opacity: 0;
    visibility: hidden; }
  #contact .alert {
    margin-top: 30px;
    background: #fff;
    height: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    #contact .alert.visible {
      opacity: 1;
      visibility: visible;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #contact .alert p {
      padding: 10px 15px;
      color: #CC0000;
      font-weight: 400; }
      #contact .alert p.succes {
        display: inline;
        color: #60606e;
        font-weight: 700; }
    #contact .alert img {
      display: inline;
      padding-left: 5px; }
  #contact .valid {
    border: 0px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #contact .inValid {
    border: 1px solid #CC0000;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #contact form {
    background: #fff;
    padding: 15px;
    overflow: hidden; }
    #contact form p small {
      text-align: right;
      font-size: 10px;
      color: #212121; }
    #contact form h3 span {
      color: #212121; }
  #contact i {
    color: #fff; }

footer .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }
  footer .row .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

footer p {
  line-height: 100px;
  text-align: left; }

.scroll-progress-bar {
  position: fixed;
  top: 0;
  height: 5px;
  background: #7beec7;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s; }

header {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  font-family: "Montserrat", sans-serif; }

.logo {
  float: left;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase; }

#top-menu {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  float: right;
  margin-right: 150px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #top-menu ul {
    margin-right: 40px; }
    #top-menu ul li {
      display: inline;
      margin: 5px; }
  #top-menu a {
    font-size: 12px;
    font-weight: 700;
    line-height: 100px;
    color: #60606e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; }
    #top-menu a::before {
      content: " ";
      position: absolute;
      margin-top: 30px;
      border-top: 2px solid #60606e;
      width: 0%;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #top-menu a:hover::before {
      width: 50%; }
  #top-menu.hide-menu {
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    margin-right: 0px; }

.top-bar {
  position: relative; }

header #hamburger {
  position: absolute;
  right: 0;
  line-height: 100px; }

body {
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow: hidden; }

::-moz-selection {
  background: #7beec7;
  color: #fff; }

::selection {
  background: #7beec7;
  color: #fff; }

section {
  padding: 50px 0px; }

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #60606e; }

h1 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px; }

h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #60606e;
  line-height: 30px; }

input, textarea {
  width: 92%;
  display: block;
  margin: 10px 0px;
  padding: 10px 5px 10px 25px;
  background: #fff;
  border: 1px solid #efefef;
  resize: none; }

input[type="button"] {
  width: 20%;
  padding: 10px 25px;
  background: #7beec7;
  color: #fff; }

img {
  max-width: 100%; }

i {
  margin-bottom: 10px;
  padding-right: 10px;
  color: #7beec7; }

button {
  background-color: #7beec7;
  color: #fff;
  border: 0;
  border-radius: 0;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

section h1 span {
  position: relative; }

section h1 span::after {
  background-color: #7beec7;
  content: "";
  height: 21px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 70px;
  z-index: -1; }

.container {
  max-width: 1270px;
  margin: 0 auto; }

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row; }

.box {
  box-sizing: border-box;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media only screen and (max-width: 1024px) {
  .row {
    padding: 0 5px; }
  .screens {
    min-height: 400px; }
    .screens img {
      max-width: 80%; }
  .skill-slider {
    min-height: 400px; }
  input, textarea {
    width: 90%; }
  input[type="button"] {
    width: 34%; }
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer ul {
    display: none; }
  footer p {
    text-align: center; }
  #portfolio .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #portfolio .row li {
      text-align: center; } }

@media only screen and (max-width: 720px) {
  section {
    padding: 25px 0px; }
  #about-me {
    margin-top: -45vh; }
  .screens {
    min-height: 300px; }
  #skills .row .box .technologies {
    text-align: left; }
    #skills .row .box .technologies li {
      text-align: left; }
  .logo {
    width: 100%; }
  #top-menu {
    width: 100%;
    visibility: hidden;
    background: #60606e; }
    #top-menu ul {
      margin-right: 0; }
      #top-menu ul li {
        display: block;
        margin: 5px;
        text-align: center; }
        #top-menu ul li:hover {
          background: #404051; }
    #top-menu a {
      color: #fff;
      line-height: 40px; }
    #top-menu.hide-menu {
      visibility: visible; }
  #mini-slider .box {
    padding: 0 5px;
    max-width: 100%; }
    #mini-slider .box h1 {
      font-size: 28px; }
  #about-me .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #about-me .box:nth-child(1) {
    text-align: center;
    padding: 50px 0px; }
  #skills .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #skills .row .box {
      text-align: center; }
    #skills .row ul {
      text-align: center; }
  #contact .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #contact .row .box {
      text-align: center; }
    #contact .row input, #contact .row textarea {
      margin: 0 auto;
      margin-bottom: 10px; } }

@media only screen and (max-width: 576px) {
  .screens {
    min-height: 200px; }
  #portfolio .screens .project-content h3 {
    top: 40%;
    font-size: 14px; }
  #portfolio .screens .project-content p {
    top: 45%;
    font-size: 10px; } }

@media only screen and (max-width: 370px) {
  #skills .row .skill-slider img {
    padding-top: 60px; }
  footer {
    padding: 15px; }
  footer p {
    line-height: 2; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow: hidden; }

::-moz-selection {
  background: #7beec7;
  color: #fff; }

::selection {
  background: #7beec7;
  color: #fff; }

section {
  padding: 50px 0px; }

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #60606e; }

h1 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px; }

h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #60606e;
  line-height: 30px; }

input, textarea {
  width: 92%;
  display: block;
  margin: 10px 0px;
  padding: 10px 5px 10px 25px;
  background: #fff;
  border: 1px solid #efefef;
  resize: none; }

input[type="button"] {
  width: 20%;
  padding: 10px 25px;
  background: #7beec7;
  color: #fff; }

img {
  max-width: 100%; }

i {
  margin-bottom: 10px;
  padding-right: 10px;
  color: #7beec7; }

button {
  background-color: #7beec7;
  color: #fff;
  border: 0;
  border-radius: 0;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

section h1 span {
  position: relative; }

section h1 span::after {
  background-color: #7beec7;
  content: "";
  height: 21px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 70px;
  z-index: -1; }

.container {
  max-width: 1270px;
  margin: 0 auto; }

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row; }

.box {
  box-sizing: border-box;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

#mini-slider {
  background: #fff url("../images/header-bg.jpg") no-repeat;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1; }
  #mini-slider .container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 750px; }
  #mini-slider .box {
    margin-top: 200px;
    text-align: center; }
  #mini-slider .slides {
    position: relative; }
    #mini-slider .slides > div {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto; }
  #mini-slider h1 {
    border: 10px solid #60606e;
    color: #60606e;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 40px; }
  #mini-slider span {
    background-color: #7beec7;
    color: #60606e;
    padding: 8px 12px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #60606e;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #mini-slider p {
    font-size: 16px; }

.inactive-slide {
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

.active-slide {
  opacity: 1;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

#about-me {
  margin-top: -344px;
  position: relative; }
  #about-me img {
    position: relative; }
  #about-me .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  #about-me button {
    margin-top: 35px; }

#skills .row {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center; }
  #skills .row .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: left; }
  #skills .row .header {
    padding-bottom: 40px; }
  #skills .row .skill-slider {
    position: relative;
    overflow: hidden; }
    #skills .row .skill-slider img {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      padding-top: 25px; }
    #skills .row .skill-slider a {
      font-size: 40px;
      font-weight: 100; }
    #skills .row .skill-slider #next {
      position: absolute;
      top: 50%;
      right: 25px; }
    #skills .row .skill-slider #prev {
      position: absolute;
      top: 50%;
      left: 25px; }
  #skills .row .header {
    text-align: center; }

#skills h3 {
  display: inline;
  text-align: left; }

#skills ul {
  text-align: left;
  margin-bottom: 20px; }
  #skills ul li {
    font-family: "Open Sans",sans-serif;
    color: #666666;
    line-height: 30px;
    text-transform: uppercase; }
    #skills ul li:hover {
      color: #212121; }

#skills .sprite {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("../images/sprite.png");
  vertical-align: middle; }

#skills #html5 {
  background-position: 0 0; }

#skills #css {
  background-position: 140px 0px; }

#skills #rwd {
  background-position: 120px 0px; }

#skills #bs {
  background-position: 100px 0px; }

#skills #wp {
  background-position: 80px 0px; }

#skills #js {
  background-position: 60px 0px; }

#skills #jq {
  background-position: 40px 0px; }

#skills #sass {
  background-position: 20px 0px; }

#skills #ps {
  background-position: 0 20px; }

#skills #php {
  background-position: 140px 20px; }

#skills #mysql {
  background-position: 120px 20px; }

#skills #ajax {
  background-position: 100px 20px; }

#skills #gulp {
  background-position: 80px 20px; }

#skills #git {
  background-position: 60px 20px; }

#skills #linux {
  background-position: 40px 20px; }

#skills #ng {
  background-position: 20px 20px; }

#portfolio .row {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center; }
  #portfolio .row .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 30px 0px;
    text-align: center; }
    #portfolio .row .box.entry {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%; }

#portfolio .project {
  overflow: hidden; }
  #portfolio .project .box:nth-child(1) {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%; }
  #portfolio .project li {
    text-align: left;
    padding: 10px 15px; }
  #portfolio .project .project-list a {
    margin-left: 10px;
    padding: 5px 20px;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    #portfolio .project .project-list a:hover {
      margin-left: 0;
      padding: 5px 20px;
      background: #7beec7;
      color: #fff; }

#portfolio .screens {
  position: relative; }
  #portfolio .screens .project-content {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    #portfolio .screens .project-content::after {
      position: absolute;
      content: " ";
      width: 0%;
      height: 0%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #portfolio .screens .project-content h3 {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      color: #fff;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      z-index: 1; }
    #portfolio .screens .project-content p {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      color: #fff;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      z-index: 1; }
    #portfolio .screens .project-content img {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      border: 1px solid #ebebeb;
      width: 100%;
      height: auto;
      -webkit-filter: brightness(100%);
      filter: brightness(100%);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #portfolio .screens .project-content:hover h3 {
      opacity: 1;
      visibility: visible; }
    #portfolio .screens .project-content:hover p {
      opacity: 1;
      visibility: visible; }
    #portfolio .screens .project-content:hover img {
      -webkit-filter: brightness(30%);
      filter: brightness(30%); }
  #portfolio .screens .active-tab {
    opacity: 1;
    visibility: visible;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }

header {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  font-family: "Montserrat", sans-serif; }

.logo {
  float: left;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase; }

#top-menu {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  float: right;
  margin-right: 150px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #top-menu ul {
    margin-right: 40px; }
    #top-menu ul li {
      display: inline;
      margin: 5px; }
  #top-menu a {
    font-size: 12px;
    font-weight: 700;
    line-height: 100px;
    color: #60606e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; }
    #top-menu a::before {
      content: " ";
      position: absolute;
      margin-top: 30px;
      border-top: 2px solid #60606e;
      width: 0%;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #top-menu a:hover::before {
      width: 50%; }
  #top-menu.hide-menu {
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    margin-right: 0px; }

.top-bar {
  position: relative; }

header #hamburger {
  position: absolute;
  right: 0;
  line-height: 100px; }

#contact {
  background: #7beec7;
  border-bottom: 2px solid #ebebeb; }
  #contact .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; }
    #contact .row .box {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
  #contact h1, #contact h3, #contact p, #contact a {
    color: #fff; }
  #contact a {
    display: block;
    line-height: 2;
    font-weight: 700; }
  #contact p {
    font-weight: bold; }
  #contact .alert-hidden {
    opacity: 0;
    visibility: hidden; }
  #contact .alert {
    margin-top: 30px;
    background: #fff;
    height: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    #contact .alert.visible {
      opacity: 1;
      visibility: visible;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #contact .alert p {
      padding: 10px 15px;
      color: #CC0000;
      font-weight: 400; }
      #contact .alert p.succes {
        display: inline;
        color: #60606e;
        font-weight: 700; }
    #contact .alert img {
      display: inline;
      padding-left: 5px; }
  #contact .valid {
    border: 0px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #contact .inValid {
    border: 1px solid #CC0000;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #contact form {
    background: #fff;
    padding: 15px;
    overflow: hidden; }
    #contact form p small {
      text-align: right;
      font-size: 10px;
      color: #212121; }
    #contact form h3 span {
      color: #212121; }
  #contact i {
    color: #fff; }

footer .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }
  footer .row .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

footer p {
  line-height: 100px;
  text-align: left; }

.scroll-progress-bar {
  position: fixed;
  top: 0;
  height: 5px;
  background: #7beec7;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s; }

@media only screen and (max-width: 1024px) {
  .row {
    padding: 0 5px; }
  .screens {
    min-height: 400px; }
    .screens img {
      max-width: 80%; }
  .skill-slider {
    min-height: 400px; }
  input, textarea {
    width: 90%; }
  input[type="button"] {
    width: 34%; }
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer ul {
    display: none; }
  footer p {
    text-align: center; }
  #portfolio .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #portfolio .row li {
      text-align: center; } }

@media only screen and (max-width: 720px) {
  section {
    padding: 25px 0px; }
  #about-me {
    margin-top: -45vh; }
  .screens {
    min-height: 300px; }
  #skills .row .box .technologies {
    text-align: left; }
    #skills .row .box .technologies li {
      text-align: left; }
  .logo {
    width: 100%; }
  #top-menu {
    width: 100%;
    visibility: hidden;
    background: #60606e; }
    #top-menu ul {
      margin-right: 0; }
      #top-menu ul li {
        display: block;
        margin: 5px;
        text-align: center; }
        #top-menu ul li:hover {
          background: #404051; }
    #top-menu a {
      color: #fff;
      line-height: 40px; }
    #top-menu.hide-menu {
      visibility: visible; }
  #mini-slider .box {
    padding: 0 5px;
    max-width: 100%; }
    #mini-slider .box h1 {
      font-size: 28px; }
  #about-me .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #about-me .box:nth-child(1) {
    text-align: center;
    padding: 50px 0px; }
  #skills .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #skills .row .box {
      text-align: center; }
    #skills .row ul {
      text-align: center; }
  #contact .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #contact .row .box {
      text-align: center; }
    #contact .row input, #contact .row textarea {
      margin: 0 auto;
      margin-bottom: 10px; } }

@media only screen and (max-width: 576px) {
  .screens {
    min-height: 200px; }
  #portfolio .screens .project-content h3 {
    top: 40%;
    font-size: 14px; }
  #portfolio .screens .project-content p {
    top: 45%;
    font-size: 10px; } }

@media only screen and (max-width: 370px) {
  #skills .row .skill-slider img {
    padding-top: 60px; }
  footer {
    padding: 15px; }
  footer p {
    line-height: 2; } }

